<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/Login/Css-background.css" rel="stylesheet" type="text/css" />
	<title>Index</title>
</head>
<body>
	<div id="fundo">
		<div class="container" id="containerLogin">
			<div class="card card-container">
				<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<center><h1>Shelby Sistemas S/A</h1></center>
				<p id="profile-name" class="profile-name-card"></p>
				<form class="form-signin" action="~/Login/Logar" method="post">
					<span id="reauth-email" class="reauth-email"></span>
					<input type="text" id="login" class="form-control" placeholder="Usuário" required autofocus>
					<input type="password" id="senha" class="form-control" placeholder="Senha" required>
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
				</form>
				<a href="#" class="forgot-password">
					Esqueceu sua senha?
				</a>
			</div>
		</div>
	</div>
</body>
</html>
